<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <form action="result" method="post">
        <input id = "val1" name = "val1" type="text" th:value="${val1}"/>
        <input id = "action" name = "action" type="text" th:value="${action}"/>
        <input id = "val2" name = "val2" type="text" th:value="${val2}"/>
        <input id = "result" name = "result" type="text" th:value="${result}"/>
        <input type = "submit">
    </form>
</body>
</html>