<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Гарри Поттер</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Джоан Роулинг</h1>
                <p>Книга о....</p>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Философия JAVA</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Брюс Эккель</h1>
                <p>Книга о....</p>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Spring для чайников</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Автор Автор</h1>
                <p>Книга о....</p>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Гарри Поттер</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Джоан Роулинг</h1>
                <p>Книга о....</p>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Философия JAVA</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Брюс Эккель</h1>
                <p>Книга о....</p>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Spring для чайников</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Автор Автор</h1>
                <p>Книга о....</p>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>
<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>
</div>
</body>
</html>